In [1]:
import sympy as sm

In [2]:
import math

In [3]:
import numpy as np

In [26]:
np.std(np.random.normal(0,1,10000)+np.random.normal(0,1,10000))

1.4066730489552828

In [27]:
R_0210 = np.random.normal(0,1,10000)
R_0510 = np.random.normal(0,1,10000)

In [30]:
np.std(sigma_1)**2 + np.std(sigma_2)**2

1.9985371802283751

In [31]:
(np.std(sigma_1)**2 + np.std(sigma_2)**2)**0.5

1.413696282879875

Let $R_{1}, R_{2}, \ldots R_{30}$ be a series of normally distributed random variables.

In [40]:
import pandas as pd

In [45]:
sigma = [
    {'exp': 2, 'tenor':2, 'vol': 45},
    {'exp': 2, 'tenor':5, 'vol': 40},
    {'exp': 2, 'tenor':10, 'vol': 35},
    {'exp': 5, 'tenor':5, 'vol': 30},
    {'exp': 5, 'tenor':10, 'vol': 25}
]

In [58]:
sigma_df = pd.DataFrame(sigma)
# .set_index(['exp','tenor'])
sigma_df['tot_term'] = sigma_df['exp'] + sigma_df['tenor']
sigma_df['var'] = sigma_df['vol']**2
sigma_df.set_index(['exp','tenor'], inplace = True)
sigma_df.sort_values(['tot_term'], inplace = True)
sigma_df

           vol  tot_term   var
exp tenor
2   2       45         4  2025
    5       40         7  1600
5   5       30        10   900
2   10      35        12  1225
5   10      25        15   625

In [41]:
P = {}
for i in range(0,100):
    R = {}
    for j in range (0,30):
        R[j] = np.random.normal(0,1,10000)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [5]:
from scipy import stats

In [20]:
stats.norm.ppf(0.0001)

-3.7190164854556804

In [73]:
randarray = pd.DataFrame(data=np.random.normal(0,1,(1000000,2)))
randarray.columns.name = 'Period'
randarray.index.name = 'Path'
randarray[1] = -0.9 * randarray[0] + 0.2 * randarray[1]
randarray

Period         0         1
Path
0      -0.916722  1.209131
1      -1.081471  0.706021
2      -0.433248  0.254698
3       1.896080 -1.882570
4      -0.157749 -0.102960
...          ...       ...
999995  0.110648  0.112619
999996 -0.325962  0.522632
999997 -1.388521  1.461920
999998  1.922850 -1.642880
999999  1.371088 -0.942324

[1000000 rows x 2 columns]

In [74]:
cumarray = randarray.cumsum(axis = 1)
cumarray

Period         0         1
Path
0      -0.916722  0.292409
1      -1.081471 -0.375450
2      -0.433248 -0.178550
3       1.896080  0.013510
4      -0.157749 -0.260709
...          ...       ...
999995  0.110648  0.223268
999996 -0.325962  0.196670
999997 -1.388521  0.073399
999998  1.922850  0.279970
999999  1.371088  0.428764

[1000000 rows x 2 columns]

In [75]:
np.mean(cumarray[1].values)

-8.149658393943836e-06

In [76]:
np.std(cumarray[1].values)

0.22364913212551923

In [77]:
print(np.var(randarray[0].values))
print(np.var(randarray[1].values))

0.9997635581829343
0.8497494642825497

In [70]:
np.corrcoef(randarray[0].values,randarray[1].values)

array([[ 1.        , -0.44767862],
       [-0.44767862,  1.        ]])

In [78]:
-0.44767862**2

-0.20041614680510442